div.player {
	padding: 5px 5px;
	border: 1px solid #000;
	color: rgba(0, 0, 0, 0.8);
	text-shadow: 1px 1px 2px #000;
	margin-bottom: 15px;
}
div.player #capsule {
	border: 1px solid #000;
	box-shadow: 0 0 10px #555;
	-moz-box-shadow: 0 0 10px #555;
	-webkit-box-shadow: 0 0 10px #555;
	background: #000;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1, rgba(0,0,0,0.5)), color-stop(0, #333));
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 1, #333 0);
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 1, #333 0);
	background-image: -ms-gradient(top, rgba(0, 0, 0, 0.5) 1, #333 0);
	background-image: -o-gradient(top, rgba(0, 0, 0, 0.5) 1, #333 0);
	background-image: linear-gradient(top, rgba(0, 0, 0, 0.5) 1, #333 0);
	overflow: hidden;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	width: 100%;
	display: inline-block;
	height: 30px;
}
div.player #capsule #cursor {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	background: #0088e9;
	width: 0;
	display: inline-block;
	height: 100%;
}

.time {
	position: relative;
	top: -9px;
	padding: 0 10px;
	width: 40px;
    color: white;
    text-align: "right";
}

div.player div.time-controls {
	width: 100%;
}

.player_bar {
    border: 1px solid #000;
    background: rgba(255,255,255,0.5);
    float: left;
    width: 100%;
    position: relative;
}

a {
    color: #f00;
}
.ac {  /* prevent dat-gui from being selected */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.no-pointer-events {
    pointer-events: none;
}
.control-disabled {
    color: #888;
    text-decoration: line-through;
}
body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
}

a {
	color: #fff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

canvas {
	display: block;
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}

a, select {
	pointer-events: auto;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 10000
}

#status,
.preloader {
    top: 50%;
    left: 50%;
    position: absolute
}
.preloader-p {
  top: 50%;
  text-align: center;
  margin-top: 40px;
  position: absolute;
  color: #2dbf8c;
}

#status {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    margin: -50px 0 0 -50px
}

.preloader {
    height: 40px;
    width: 40px;
    margin-top: -20px;
    margin-left: -20px
}

.preloader:before {
    content: "";
    display: block;
    position: absolute;
    left: -1px;
    top: -1px;
    height: 100%;
    width: 100%;
    -webkit-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;
    border: 2px solid #2dbf8c;
    border-top: 2px solid transparent;
    border-radius: 100%
}

.preloader>.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 25px;
    width: 10.6px;
    margin-top: -12.5px;
    margin-left: -5.3px;
    -webkit-animation: wink 1s ease-in-out infinite alternate;
    animation: wink 1s ease-in-out infinite alternate
}

@media only screen and (min-width:768px) {
    .preloader {
        height: 60px;
        width: 60px;
        margin-top: -30px;
        margin-left: -30px
    }
    .preloader:before {
        left: -2px;
        top: -2px;
        border-width: 2px
    }
    .preloader>.icon {
        height: 37.5px;
        width: 15.9px;
        margin-top: -18.75px;
        margin-left: -7.95px
    }
}

@media only screen and (min-width:1200px) {
    .preloader {
        height: 60px;
        width: 60px;
        margin-top: -30px;
        margin-left: -30px
    }
    .preloader>.icon {
        height: 50px;
        width: 21.2px;
        margin-top: -25px;
        margin-left: -10.6px
    }
}
@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}